[user]
	name = AlbertServen
	email = albert.serven@est.fib.upc.edu
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[branch "master"]
	remote = origin
	merge = refs/heads/master
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	excludesfile = /Users/alberts/.gitignore_global
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
